apiVersion: v1
kind: ConfigMap
metadata:
  name: spotify-service-config
  namespace: site
data:
  application.yml: |
    spring:
      application:
        name: spotify-service
        
      data:
        redis:
          host: redis-service
          port: 6379
      
      cache:
        type: redis
    management:
      endpoints:
        web:
          exposure:
            include: health,info,metrics
          base-path: /actuator
      endpoint:
        health:
          probes:
            enabled: true
          show-details: always
      health:
        livenessState:
          enabled: true
        readinessState:
          enabled: true    
    spotify:
      redirect-uri: http://localhost:8080/api/auth/callback
      auth:
        scopes: user-read-private user-read-email playlist-read-private playlist-read-collaborative user-library-read
    
    server:
      servlet:
        session:
          timeout: 30m
          cookie:
            name: SPOTIFY_SESSION
            http-only: true
            same-site: lax
            secure: false
            path: /
          tracking-modes: cookie